.navBar {
    position: fixed;
    top: 0;
    width: 100%;
}

.topPage {
    margin-top: 190px;
    margin-bottom: 80px;
    /*background-image: url("./assets/images/amazon/wave.svg");
    background-position: bottom center;*/
}