\@font-face {
    font-family: "AEmb";
    src: url("./assets/fonts/AmazonEmberDisplay_W_Lt.woff") format("woff");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "AEmb";
    src: url("./assets/fonts/AmazonEmberDisplay_W_Rg.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "AEmb";
    src: url("./assets/fonts/AmazonEmberDisplay_W_Md.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "AEmb";
    src: url("./assets/fonts/AmazonEmberDisplay_W_Bd.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "AEmb";
    src: url("./assets/fonts/AmazonEmberDisplay_W_He.woff") format("woff");
    font-weight: 900;
    font-style: normal;
}